In [2]:
import pandas as pd
import cvxpy as cp
import numpy as np
import gurobipy

In [3]:
H_demand = pd.read_csv("Hydrogen_Demand.csv")
E_demand = pd.read_csv("Electricity_Demand.csv")
E_Prices = pd.read_csv("Electricity_Prices.csv")
Solar = pd.read_csv("Solar_Forecast.csv")

In [11]:
E_Prices.head()

         Date  Hour  Price ($/MWh)
0  2023-09-01     1          22.87
1  2023-09-01     2           7.09
2  2023-09-01     3           7.09
3  2023-09-01     4           7.09
4  2023-09-01     5           0.00

In [12]:
# Load data into variables
d_H = H_demand["Demand (kg)"]
p_H = 10
d_E = E_demand["Demand (MWh)"]
p_E = E_Prices["Price ($/MWh)"]

In [15]:
E_Prices.head()

         Date  Hour  Price ($/MWh)
0  2023-09-01     1          22.87
1  2023-09-01     2           7.09
2  2023-09-01     3           7.09
3  2023-09-01     4           7.09
4  2023-09-01     5           0.00

In [6]:
N = np.size(p_E)
x = cp.Variable(N,3)

# Define and solve the CVXPY problem.
x = cp.Variable(n)
prob = cp.Problem(cp.Minimize(c.T@x),
[A @ x <= b])
prob.solve(solver=cp.GUROBI)
# Print result.
print("\nThe optimal value is", prob.value)
print("A solution x is")
print(x.value)

NameError: name 'm' is not defined

In [8]:
E_demand.head()

   Hour  Demand (MWh)
0     1      0.224875
1     2      0.267280
2     3      0.825336
3     4      0.500773
4     5      0.275956